.header {
  padding: 12px;
  height: calc(var(--zaui-safe-area-inset-top, 0px) + 70px);
  @include flex(row, space-between, center, 8px, nowrap);
  &__logo {
    text-align: start;
    font-size: $brand-name;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: $text-black-title;
  }
  &__menu {
    @include flex(row, flex-end, center, 8px, nowrap);
    button {
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
}
