.registerForm {
  width: calc(100% - 20%);
  height: calc(100% - 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  &__header {
    margin: 0;
    font-weight: 600;
    font-size: $large;
    text-align: center;
    text-transform: uppercase;
  }
  &__form {
    flex: 1;
    gap: 4px;
    opacity: 0;
    height: 100%;
    padding: 24px;
    display: flex;
    border-radius: 0 8px 8px 0;
    justify-content: center;
    flex-direction: column;
    transform: translateX(40px);
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.35),
        rgba(255, 255, 255, 0.15)
      ),
      rgba(255, 255, 255, 0.1);
    animation: slideInLeft 2s ease-out forwards;
    @media (max-width: 600px) {
      gap: 12px;
      height: auto;
      flex: 1 1 100%;
      border-radius: 8px;
      animation-duration: 1s;
      transform: translateX(10px);
      background: rgba(255, 255, 255, 0.2);
    }
    @media (min-width: 600px) and (max-width: 1024px) {
      padding: 20px;
    }
    &__title {
      margin: 0;
      font-size: $regular;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    &__inputWrapper {
      display: flex;
      gap: $extra-small;
      flex-direction: column;
      label {
        font-size: 14px;
        text-align: start;
      }
      input {
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
      }
      .password {
        height: 100%;
        display: flex;
        min-height: 32px;
        position: relative;
        input {
          z-index: 5;
          width: 100%;
          position: absolute;
          ::placeholder {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .visibility {
          top: 7px;
          right: 5px;
          z-index: 10;
          border: none;
          position: absolute;
          background: transparent;
          span {
            font-size: $regular;
          }
        }
      }
    }

    &__forgot {
      margin: 12px 0 0;
      font-size: $small-text;
      border: none;
      background-color: transparent;
      text-align: start;
      color: $body-primary-color;
    }
    &__btn {
      display: flex;
      margin-top: 16px;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 8px;
      }
      @media (min-width: 600px) and (max-width: 1024px) {
        flex-direction: column;
        gap: 8px;
      }
      .sigup {
        border: none;
        font-weight: 500;
        padding: 6px 12px;
        width: 50%;
        border-radius: 4px;
        color: $text-black-title;
        background-color: $border-stroke-light;
        @media (max-width: 500px) {
          width: 100%;
        }
      }
      .sigin {
        padding: 0;
        border: none;
        font-weight: 400;
        border-radius: 4px;
        color: $body-sub-color;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        span {
          font-size: 14px;
          animation: shakeGlow 1s ease infinite;
        }
      }
    }

    &__continue {
      margin: 20px 0 0 0;
      text-align: center;
      @media (max-width: 600px) {
        margin: 8px 0 0 0;
      }
    }

    &__options {
      gap: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        padding: 0;
        border: none;
        background-color: transparent;
        img {
          width: 60px;
          height: auto;
          @media (max-width: 500px) {
            width: 48px;
          }
        }
      }
    }
    &__register {
      font-size: $small-text;
      color: #fff;
      text-align: center;
      button {
        padding: 0;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        font-size: $small-text;
        background-color: transparent;
      }
    }
  }
  &__background {
    flex: 1;
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.1)
      ),
      rgba(255, 255, 255, 0.05);
    justify-content: space-between;
    @media (max-width: 600px) {
      display: none;
    }
    @media (min-width: 600px) and (max-width: 1024px) {
      padding: 20px;
    }
  }
}
