.registerForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__header {
    margin: 0;
    font-weight: 600;
    font-size: $large;
    text-align: center;
    text-transform: uppercase;
  }
  &__form {
    width: calc(100% / 2 - 12px);
    height: 100%;
    display: flex;
    gap: $small-text;
    padding: 24px;
    border-radius: 0 8px 8px 0;

    flex-direction: column;
    backdrop-filter: blur(24px);
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.1)
      ),
      rgba(255, 255, 255, 0.05);
    &__title {
      margin: 0;
      font-size: $regular;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    &__inputWrapper {
      display: flex;
      gap: $extra-small;
      flex-direction: column;
      label {
        font-size: 14px;
        text-align: start;
      }
      input {
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
      }
      .password {
        height: 100%;
        display: flex;
        min-height: 32px;
        position: relative;
        input {
          z-index: 5;
          width: 100%;
          position: absolute;
          ::placeholder {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .visibility {
          top: 7px;
          right: 5px;
          z-index: 10;
          border: none;
          position: absolute;
          background: transparent;
          span {
            font-size: $regular;
          }
        }
      }
    }

    &__forgot {
      margin: 12px 0 0;
      font-size: $small-text;
      border: none;
      background-color: transparent;
      text-align: start;
      color: $body-primary-color;
    }
    &__btn {
      display: flex;
      margin-top: 12px;
      align-items: center;
      justify-content: space-between;
      .sigup {
        border: none;
        font-weight: 500;
        padding: 6px 12px;
        width: 50%;
        border-radius: 4px;
        color: $text-black-title;
        background-color: $border-stroke-light;
      }
      .sigin {
        padding: 0;
        border: none;
        font-weight: 400;
        border-radius: 4px;
        color: $body-sub-color;
        background-color: transparent;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 14px;
        span {
          font-size: 14px;
          animation: shakeGlow 1s ease infinite;
        }
      }
    }

    &__continue {
      margin: 20px 0 0 0;
      text-align: center;
    }

    &__options {
      gap: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        padding: 0;
        border: none;
        background-color: transparent;
        img {
          width: 60px;
          height: auto;
          @media (max-width: 400px) {
            width: 48px;
          }
        }
      }
    }
    &__register {
      font-size: $small-text;
      color: #fff;
      text-align: center;
      button {
        padding: 0;
        border: none;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        font-size: $small-text;
        background-color: transparent;
      }
    }
  }
  &__background {
    height: 100%;
    padding: 24px;
    display: flex;
    max-width: 500px;
    align-items: center;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
    backdrop-filter: blur(24px);
    width: calc(100% / 2 - 12px);
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.1)
      ),
      rgba(255, 255, 255, 0.05);
    justify-content: space-between;
  }
}

@keyframes shakeGlow {
  0% {
    transform: translateX(0);
    stroke: #0062ff;
  }
  25% {
    transform: translateX(4px);
    stroke: #3399ff;
  }
  50% {
    transform: translateX(-4px);
    stroke: #66b2ff;
  }
  75% {
    transform: translateX(4px);
    stroke: #3399ff;
  }
  100% {
    transform: translateX(0);
    stroke: #0062ff;
  }
}
