.menuSideBar {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  min-width: 100vw;
  max-height: 100vh;
  height: auto;
  overflow: hidden;
  &__close {
    width: 100%;
    font-size: 24px;
    padding: 24px 24px 0;
    border: none;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 24px;
    .item {
      gap: 4px;
      padding: 0;
      height: 100%;
      border: none;
      display: flex;
      font-weight: 700;
      font-size: $medium;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      color: $text-black-title;
      text-transform: uppercase;
      background-color: transparent;
      transition: all 0.5s ease-in-out;
      p {
        gap: 8px;
        margin: 0;
        display: flex;
        font-size: $medium;
        align-items: center;
        justify-content: center;
        color: $text-black-title;
        span {
          font-size: 32px;
        }
      }
    }
  }
}
