.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 20%);
  height: calc(100% - 10%);
  &__header {
    margin: 0;
    font-weight: 600;
    font-size: $large;
    text-align: center;
    text-transform: uppercase;
  }
  &__form {
    flex: 1;
    height: 100%;
    padding: 24px;
    display: flex;
    gap: $small-text;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.1)
      ),
      rgba(255, 255, 255, 0.05);
    opacity: 0;
    transform: translateX(40px);
    animation: slideInRight 2s ease-out forwards;
    @media (max-width: 600px) {
      height: auto;
      flex: 1 1 100%;
      border-radius: 8px;
      animation-duration: 1s;
      transform: translateX(10px);
      background: rgba(255, 255, 255, 0.2);
    }
    &__title {
      margin: 0;
      font-size: $regular;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    &__inputWrapper {
      display: flex;
      gap: $extra-small;
      flex-direction: column;
      label {
        font-size: 14px;
        text-align: start;
      }
      input {
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
      }
      .password {
        height: 100%;
        display: flex;
        min-height: 32px;
        position: relative;
        input {
          z-index: 5;
          width: 100%;
          position: absolute;
          ::placeholder {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .visibility {
          top: 7px;
          right: 5px;
          z-index: 10;
          border: none;
          position: absolute;
          background: transparent;
          span {
            font-size: $regular;
          }
        }
      }
    }

    &__forgot {
      margin: 12px 0 0;
      font-size: $small-text;
      border: none;
      background-color: transparent;
      text-align: start;
      color: $body-primary-color;
    }
    &__btnSigin {
      border: none;
      font-weight: 500;
      padding: 6px 12px;
      border-radius: 4px;
      color: $text-black-title;
      background-color: $border-stroke-light;
    }
    &__continue {
      margin: 20px 0 0 0;
      text-align: center;
      @media (max-width: 600px) {
        margin: 0;
      }
    }

    &__options {
      gap: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      .item {
        padding: 0;
        border: none;
        background-color: transparent;
        img {
          width: 60px;
          height: auto;
          @media (max-width: 500px) {
            width: 48px;
          }
        }
      }
    }
    &__register {
      gap: 4px;
      color: #fff;
      display: flex;
      text-align: center;
      align-items: center;
      white-space: nowrap;
      font-size: $small-text;
      justify-content: center;
      button {
        gap: 4px;
        padding: 0;
        border: none;
        color: #fff;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
        background-color: transparent;
        span {
          font-size: 14px;
          animation: shakeGlow 1s ease infinite;
        }
      }
    }
  }
  &__background {
    flex: 1;
    height: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0 8px 8px 0;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.1)
      ),
      rgba(255, 255, 255, 0.05);
    justify-content: space-between;

    @media (max-width: 600px) {
      display: none;
    }
  }
}

@keyframes shakeGlow {
  0% {
    transform: translateX(0);
    stroke: #0062ff;
  }
  25% {
    transform: translateX(4px);
    stroke: #3399ff;
  }
  50% {
    transform: translateX(-4px);
    stroke: #66b2ff;
  }
  75% {
    transform: translateX(4px);
    stroke: #3399ff;
  }
  100% {
    transform: translateX(0);
    stroke: #0062ff;
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
