.loginForm {
  width: 100%;
  height: 90%;
  padding: 24px;
  display: flex;
  max-width: 500px;
  margin: 30px auto;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  backdrop-filter: blur(24px);
  justify-content: space-between;
  background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.1)
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  &__header {
    margin: 0;
    font-weight: 600;
    font-size: $large;
    text-align: center;
    text-transform: uppercase;
  }
  &__form {
    width: 100%;
    display: flex;
    gap: $small-text;
    max-width: 500px;
    flex-direction: column;
    &__title {
      margin: 0;
      font-size: $regular;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
    &__inputWrapper {
      display: flex;
      gap: $extra-small;
      flex-direction: column;
      label {
        font-size: 14px;
        text-align: start;
      }
      input {
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
      }
      .password {
        height: 100%;
        display: flex;
        min-height: 32px;
        position: relative;
        input {
          z-index: 5;
          width: 100%;
          position: absolute;
          ::placeholder {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .visibility {
          top: 7px;
          right: 5px;
          z-index: 10;
          border: none;
          position: absolute;
          background: transparent;
          span {
            font-size: $regular;
          }
        }
      }
    }

    &__forgot {
      margin: 12px 0 0;
      font-size: $small-text;
      border: none;
      background-color: transparent;
      text-align: start;
      color: $body-primary-color;
    }
    &__btnSigin {
      border: none;
      font-weight: 500;
      padding: 6px 12px;
      border-radius: 4px;
      color: $text-black-title;
      background-color: $border-stroke-light;
    }
    &__continue {
      margin: 20px 0 0 0;
      text-align: center;
    }
  }
  &__options {
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
      padding: 0;
      border: none;
      background-color: transparent;
      img {
        width: 60px;
        height: auto;
        @media (max-width: 400px) {
          width: 48px;
        }
      }
    }
  }
}
