.bodyContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  top: 126px;
  overflow: hidden;
  background: #f5f5f5;
  height: 100vh;

  .bodyWrapper {
    // height: 100vh;
    padding: 20px 0 150px 0;
    @include flex(column, flex-start, flex-start, $medium, wrap);
  }
}
