.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $body-sub-color;
  overflow: hidden;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-bottom: 2.5rem;
  top: 126px;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    .bg-left,
    .bg-right {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .bg-left {
      background: rgba(160, 82, 92, 0.5);
      clip-path: polygon(0 0, 60% 20%, 0 100%);
    }

    .bg-right {
      background: rgba(160, 82, 92, 0.5);
      clip-path: polygon(100% 0, 100% 100%, 40% 80%);
    }
  }

  .silde {
    transform: rotateZ(-90deg);
    height: 100%;
  }

  :global(.swiper-slide) {
    opacity: 1;
    transform: scale(0.8);
    transition: all 0.4s ease;
  }

  :global(.swiper-slide-active) {
    opacity: 1;
    transform: scale(1);
    z-index: 10;
  }

  :global(.slide-overlay) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.5);
  }
}
