.authenContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-primary;
  &--login {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    max-width: calc(100% / 1.25);
    max-height: calc(100% / 1.5);
    background-blend-mode: overlay;
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: radial-gradient(
        circle at 0% 0%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 100% 0%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 0% 100%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      );
  }
}
