.spinnerLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  .spinner-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: #000;
    &.has-overlay {
      opacity: 0.5;
    }
  }
  &__lottie {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
