* {
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none; // For Android
  -webkit-tap-highlight-color: transparent; // For IOS
  flex-shrink: 0;
  line-height: 119.3125%;
  font-family: 'Playfair Display', serif;
  appearance: none;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
  }
}

html {
  margin: 0;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  touch-action: none;
  margin: 0;
  overscroll-behavior-x: none;
  overflow-x: hidden;
  background-color: $body-primary-color;
  #root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border-radius: 4px;
}

//Ellipsis
.ellipsis-text {
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
