.authenContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-primary;
  margin: 0 auto;
  &--login {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    border-radius: 16px;
    background-blend-mode: overlay;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    justify-content: center;
    align-items: center;
    display: flex;
    background: radial-gradient(
        circle at 0% 0%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 100% 0%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 0% 100%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      );
  }
}
