.authenContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $body-primary;

  &--login {
    width: 80%;
    height: 80%;
    padding: 20px;
    color: white;
    border-radius: 16px;
    background-blend-mode: overlay;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

    background: radial-gradient(
        circle at 0% 0%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 100% 0%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 0% 100%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      ),
      radial-gradient(
        circle at 100% 100%,
        rgba(0, 0, 0, 0.25) 0%,
        transparent 25%
      );

    @media (max-width: 480px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
      padding: 16px;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      width: 90%;
      height: 85%;
      padding: 18px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      width: 75%;
      height: 75%;
    }
  }
}
